<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('./partials/header') %> 
    <main>
        <h1>register</h1>
        <form action="/users/register" method="post">
            <div>
                <label for="name">Ingrese su nombre</label>
                <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
                <% if (locals.errors && errors.name) { %>
                    <small><%= errors.name.msg %></small>
                <% } %>
            </div>
            <div>
                <label for="email">Ingrese su email</label>
                <input type="email" name="email" id="email" placeholder="Ingrese su email">
                <% if (locals.errors && errors.email) { %>
                    <small><%= errors.email.msg %></small>
                <% } %>
            </div>
            <div>
                <label for="edad">Ingrese su edad</label>
                <input type="number" name="edad" id="edad" placeholder="Ingrese su edad">
                <% if (locals.errors && errors.edad) { %>
                    <small><%= errors.edad.msg %></small>
                <% } %>
            </div>
            <div>
                <label for="pass">Contrase単a</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresar una contrase単a">
                <% if (locals.errors && errors.pass) { %>
                    <small><%= errors.pass.msg %></small>
                <% } %>
            </div>
            <div>
                <label for="pass2">Repetir Contrase単a</label>
                <input type="password" name="pass2" id="pass2" placeholder="Repetir contrase単a">
                <% if (locals.errors && errors.pass2) { %>
                    <small><%= errors.pass2.msg %></small>
                <% } %>
            </div>
            <div>
             
                <% if (locals.errors && errors.colors) { %>
                    <small><%= errors.colors.msg %></small>
                <% } %>
            </div>
            <div>
                <input class="recordarme" type="checkbox" name="recordarme" id="recordarme" value="recordarme">
                <label for="recordarme">Recordarme</label>
            </div>
            <div>
                <button type="submit">registro</button>
            </div>
        </form>
    </main>
</body>
</html>